<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>form 값 주고 받기</title>
</head>
<body>

<form action="/thymeleaf13" method="post" >
    <h1 th:text="${msg}">어떤 메일을 사용하시나?</h1>
    <br>
    <input type="checkbox" name ="email" value = "gmail" th:checked="false"> 지메일
    <input type="checkbox" name ="email" value = "kakao" th:checked="false"> 카카오
    <input type="checkbox" name ="email" value = "naver" th:checked="false"> 네이버
    <input type="checkbox" name ="email" value = "han" th:checked="false"> 한메일
    <br>
    <input type="submit" value = "send">
</form>
<h1 th:text="${emailList}">이메일리스트가 출력됩니다</h1>
</body>
</html>